<!-- INCLUDE overall_header.html -->

<!-- BEGIN announcerow -->
<!-- IF announcerow.S_FIRST_ROW --><div class="panel bg3"><!-- ENDIF -->
<div class="post<!-- IF announcerow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
	<div class="inner">
		<p><a href="{announcerow.TOPIC_URL}" class="topictitle error">{announcerow.TOPIC_TITLE}</a></p>
		<b>{announcerow.TOPIC_TIME}</b>
		<div class="content">{announcerow.TOPIC_DESC}</div>
	</div>
</div>
<!-- IF announcerow.S_LAST_ROW -->
</div>
<!-- ENDIF -->
<!-- END announcerow -->
