<!-- INCLUDE ucp_header.html -->
<h2>{L_UCP_RATING_MAIN}</h2>
<p>{L_UCP_RATING_MAIN_EXPLAIN}</p>

<div class="bg3">
	<div class="header">{L_TOP_DETAILS}</div>
	<!-- IF ERROR --><span class="error">{ERROR}</span><!-- ENDIF -->

	<!-- IF .toprow -->
		<!-- BEGIN toprow -->
		<div class="post<!-- IF toprow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<div class="inner">
				<a href="{toprow.TOP_URL}" class="topictitle">{toprow.TOP_NAME}</a>
				<p>
				<!-- IF toprow.S_COUNT_CODE --><a href="{toprow.U_COUNT_CODE}" class="button"><span>{L_TOP_COUNT_CODE}</span></a><!-- ENDIF -->
					<a href="{toprow.U_EDIT_COUNT}" class="button"><span>{L_TOP_COUNT_EDIT}</span></a>
					<a href="{toprow.U_DEL_PLATFORM}" class="button" title="{L_DEL_PLATFORM}"><span>{L_DELETE}</span></a>
					<!-- IF toprow.S_TOP_TYPE != 1 -->
						<!-- IF toprow.S_TOP_TYPE == 0 -->
						<a href="{toprow.U_CLOSED_STATS}" class="button"><span>{L_TOP_STATS_DISABLE}</span></a>
						<!-- ELSE -->
						<a href="{toprow.U_OPEN_STATS}" class="button"><span>{L_TOP_STATS_ENABLE}</span></a>
						<!-- ENDIF -->
					<!-- ENDIF -->
				</p>
				<!-- IF toprow.TOP_DESC --><br />{toprow.TOP_DESC}<!-- ENDIF -->
			</div>
		</div>
		<!-- END toprow -->
	<!-- ELSE -->
	<p>{L_PLATFORM_NOT}</p>
	<!-- ENDIF -->
</div>

<!-- INCLUDE ucp_footer.html -->
