<!-- INCLUDE overall_header.html -->
<!-- IF .toprow -->
<h2>{L_UCP_RATING_MAIN}</h2>
<p>{L_UCP_RATING_MAIN_EXPLAIN}</p>
<!-- ENDIF -->

<!-- BEGIN announcerow -->
<!-- IF announcerow.S_FIRST_ROW --><div class="panel bg3"><!-- ENDIF -->
<div class="post<!-- IF announcerow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
	<div class="inner">
		<p><a href="{announcerow.TOPIC_URL}" class="topictitle error">{announcerow.TOPIC_TITLE}</a></p>
		<b>{announcerow.TOPIC_TIME}</b>
		<div class="content">{announcerow.TOPIC_DESC}</div>
	</div>
</div>
<!-- IF announcerow.S_LAST_ROW -->
</div>
<!-- ENDIF -->
<!-- END announcerow -->

<div class="action-bar">
<!-- BEGIN t_block2 -->
	<!-- IF not t_block2.S_SELECTED --><a href="{t_block2.U_TITLE}" class="button">{t_block2.L_TITLE}</a><!-- ENDIF -->
<!-- END t_block2 -->
<!-- IF S_ADD_PLATFORM --><a href="{U_ADD_PLATFORM}" class="button">{L_ADD_PLATFORM}</a><!-- ENDIF -->
</div>
